@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
/* NAVBAR 1 */
.first-navbar {
  background-color: #012946 !important;
  height: 35px;
  display: flex;
}
.text-nav-1 {
  color: #f9a11b !important;
  font-weight: 600;
}
.text-nav-1:hover {
  color: #fff !important;
}
.item-navbar-1 {
  margin-left: 980px;
  font-size: 13px;
}
/* NAVBAR 1 */

/* NAVBAR 2 */
.item-navbar-2 {
  margin-left: 700px;
}
.second-navbar {
  background-color: #073c64 !important;
  position: sticky;
}
.text-nav-2 {
  color: white !important;
  font-weight: 600;
}
.text-nav-2:hover {
  color: #f9a11b !important;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #093b5c;
  min-width: 140px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 35s;
}
/* NAVBAR 2 */

/* HERO SECTION */
.container-hero {
  position: relative;
  text-align: left;
  color: white;
}

.banner-jb {
  padding: 0% 10%;
  position: absolute;
  top: 30%;
  left: 0%;
  color: #fff;
  font-weight: bold;
}
.text-jb {
  font-weight: bold;
}
.nav-active {
  color: #fff;
}
.gambar-jb {
  width: 100%;
}
/* HERO SECTION */

/* CARD */
.card-jb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 15%;
}
.card-absolt {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
}
.card {
  display: inline-block;
  margin: 0px 10px;
  border: 0px;
  height: 200px;
  z-index: 1;
  width: 18rem;
}
.card-img-top {
  max-width: 20%;
  max-height: 7 0%;
  margin: auto;
  display: block;
}
.card:hover {
  border: 1px solid rgb(255, 255, 255);
  transform: scale(1.05);
}
.card-text {
  font-weight: bold;
}
/* CARD */

/* ABOUT SECTION */
.about {
  margin: 10% 10% 5% 10%;
  background-color: #093b5c;
  height: 30%;
  position: relative;
  z-index: -1;
}
.image-model {
  position: absolute;
  max-width: 100%;
  height: auto;
  bottom: 0;
  margin-left: 4%;
}
.model-box {
  position: relative;
  float: left;
  width: 40%;
}
.text-tentang-ti {
  position: relative;
  text-align: justify;
  color: white;
  font-size: 0.8vw;
  padding: 10px;
  align-items: center;
  float: left;
  width: 60%;
  margin: 10%;
}
.title-tentang {
  font-size: x-large;
  font-weight: bold;
}
.text-about {
  font-weight: medium;
}
.tombol-about a {
  font-size: 1vw;
  padding: 0.5em 2em;
  border: transparent;
  background: dodgerblue;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.button-about:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(30, 144, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
}
@media (max-width: 800px) {
  .card-jb {
    flex-direction: column;
    margin: 2% 0% 0% 0%;
  }
  .card-absolt {
    position: relative;
    transform: translate(-50%, 0%);
  }
  .banner-jb {
    position: absolute;
    top: 15%;
    font-size: 10px;
    text-align: left;
  }
  .about {
    margin-top: 0%;
  }
  .hidden-responsif {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .card-jb {
    flex-direction: row;
    margin: 5% 0% 0% 0%;
  }
  .card-absolt {
    position: relative;
    transform: translate(-50%, 0%);
  }
  .banner-jb {
    position: absolute;
    top: 15%;
    font-size: 10px;
    text-align: left;
  }
  .about {
    margin-top: 0%;
  }
  .hidden-responsi {
    display: none;
  }
}
/* ABOUT SECTION */

/* ARTIKEL SECTION */
div.gallery {
  border: 1px solid #ccc;
  border-radius: 30px;
}

div.gallery:hover {
  border: 1px solid #777;
  transform: scale(1.05);
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

div.desc {
  padding: 15px;
}
.responsive {
  padding: 0 20px;
  float: left;
  width: 24.99999%;
}
.section-artikel {
  margin: 0% 10%;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
/* ARTIKEL SECTION */

/* KEMITRAAN SECTION */
.title-kemitraan {
  margin: 4% 10% 1% 10%;
  font-weight: bold;
}
.slideshow {
  display: flex; /* Menggunakan flexbox untuk membuat gambar berada dalam satu baris */
  overflow: hidden; /* Menghilangkan gambar yang melebihi viewport */
}
.logo-mitra {
  width: 10%;
  margin: auto;
  /* Gambar akan menyesuaikan ukuran container */
  height: auto; /* Mencegah gambar menjadi terlalu besar atau kecil */
}
.img-logo {
  width: 90%;
}
.logo-mitra:hover {
  transform: scale(1.15);
}
/* KEMITRAAN SECTION */

/* FOOTER */
footer {
  background-color: black;
  margin-top: 2%;
}
.col-3 {
  padding: 2%;
}

.title-footer {
  color: #979797;
  text-align: start;
}
.title-footer h3 {
  font-size: 1vw;
  color: #fff;
}
.title-footer a {
  text-decoration: none;
  color: #979797;
}
.title-footer a:hover {
  text-decoration: none;
  color: #ffffff;
}
/* FOOTER */

/* COPYRIGHT */
.container-copyright {
  font-size: 1svw;
  padding: 1% 10%;
  color: #c0c0c0;
  background-color: #1e1c1c;
}
/* COPYRIGHT */

/*HALAMAN POST*/
.judul-page {
  height: 200px;
  text-align: center;
  justify-content: center;
  display: flex;
  position: relative;
  text-align: left;
  color: white;
}
.judul-page img{
  width: 100%;
  object-fit: cover;
  
}

.img-judul-page {
  width: 100%;
}
.judul-text-page {
  padding-top: 60px;
  position: absolute;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.h1-text-page {
  font-weight: bold;
}
.judul-text-content {
  font-weight: bold;
}
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 75%;
}
.judul-content {
  font-weight: bold;
}
/* Clear floats after the columns */
.body-page-content {
  content: "";
  display: table;
  clear: both;
  margin: 0% 10%;
}
.img-post {
  max-width: 40%;
  height: auto;
  display: inline;
  float: left;
  padding: 2%;
}
.side-bar {
  flex-direction: column;
}
.artikel-text {
  text-align: justify;
}

/* HALAMAN KONTAK */
.kingster-item-pdlr,
.gdlr-core-item-pdlr {
  padding-left: 20px;
  padding-right: 20px;
}

/* HALAMAN VIDEO */
.container-video {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  padding: 50px;
}
.video {
  width: 100%;
  display: flex;
  height: 600px;
}

/* KONTEN PHOTO PAGE*/
.photoPageContent {
  margin: 1% 10%;
  min-height: 100vh;
}
.photoPageContent h1 {
  font-size: 2vw;
}
.galleryCard {
  margin:1%;
  float: left;
  border-radius: 5%;
}
.galleryCard:hover {
  transform: scale(1.05);
  
}
.imgBox img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  border-radius: 5%;
}

/* SEJARAH */
.artikel-sejarah{
  margin: 2% 10%;
}
.sertif-container{
  margin:5%;
}
